header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  .logo {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
  }
  .nav {
    &-list {
      display: none;
      align-items: center;
      .nav-link {
        display: flex;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 15px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  header {
    .nav-list {
      display: flex;
    }
  }
}
